<div>
    <div class="flex items-center justify-center mt-20">
        <img src="/assets/images/onboard1.png" class="image-snapshot  w-[450px] h-[460px]" alt="onboard1.png">
    </div>
    <h1 class="welcome-text text-[#e3e2e7] text-4xl mx-5 block  font-extrabold mt-10">
        Say Hello to<br><span class="text-5xl mt-1 block text-[#e3e2e7]">Minipay!</span>
    </h1>
    <p class="welcome-content mx-5 my-2 text-[#e3e8e4] text-lg leading-relaxed mt-3">
        Fast, Secure, Easy! Be one of the first to try the new wallet in Opera Mini and get
        rewarded.
    </p>
    <div class="flex items-center justify-center mt-8">
        <button (click)="navigateNext()"
            class="auth-btn flex items-center justify-center gap-2 bg-[#ea3b58] text-white px-4 py-2 rounded-xl w-[90%] shadow-md hover:bg-gray-100">
            <span class="NextBtn__text">Next</span>
        </button>
    </div>
</div>
