<div class="container bg-[#2a2c34] min-h-screen flex flex-col overflow-hidden relative">

    <div class="">

        <header class="fixed top-0 left-0 w-[100%] h-[276px] bg-[#d73754] overflow-hidden z-10" style="border-radius: 0% 0% 150% 150%/0% 0% 40% 40%;">
            <div class="pt-0 mt-10 flex justify-center items-center mb-10">
                <img src="/assets/images/cellular.png" alt="" sizes="" srcset="" width="195">
            </div>
        </header>

        <!-- Content -->
        <div class="p-4 px-6 py-5 mt-[290px] overflow-hidden">
            <div class="flex flex-col items-center">
                <h1 class="mx-5 my-2 text-white font-medium font-sans text-2xl text-nowrap leading-relaxed mb-2">
                    Something went wrong...
                </h1>
                <p class="text-[#a0a4c1]">
                    We couldn't fulfill your request. Check your internet connection and try again.
                </p>

                <!-- Info Container -->
                <div class="bg-[#505364] mt-5 pt-2 p-4 rounded-lg border border-gray-500 shadow-md w-[95%] max-w-[400px] h-[110px] overflow-hidden">
                    <span class="text-green-500 font-bold">
                        Error message
                    </span>
                    <p class="text-white">
                        Unable to resolve host
                    </p>
                    <p class="text-white font-medium">
                        "google.com": No address associated with hostname
                    </p>
                </div>

            </div>
        </div>

        <!-- Move Minipay Information and Submit Button to the Bottom -->
        <div class="mt-[120px]">
            <!-- Button Container -->
            <div class="px-6 py-2 flex flex-col justify-center items-center space-y-4">
                <!-- First Button -->
                <button style="border: 2px solid #4b4d56" class="w-[356px] h-[55px] bg-transparent text-white font-extrabold rounded-xl">
                    Report issue
                </button>
                <!-- Second Button -->
                <button style="border: 2px solid #4b4d56" class="w-[356px] h-[55px] bg-transparent text-white font-extrabold rounded-xl">
                    Close
                </button>
            </div>
        </div>
        

    </div>

</div>
