.bg-bolt-elements-background-depth-1 {
    background-color: transparent;
}

.bg-bolt-elements-item-backgroundAccent {
    background-color: #2BA6FF1a;
}

.text-bolt-elements-item-contentAccent {
    color: #2BA6FF;
}