<div class="">
    <div class="flex items-center justify-center mt-20">
        <img src="/assets/images/onboard4.png" class="image-snapshot  w-[450px] h-[460px]" alt="onboard4.png">
    </div>
    <h1 class="welcome-text text-[#e3e2e7] text-4xl mx-5 block  font-extrabold mt-5">
        Powered by USD<br><span class="text-5xl mt-1 block text-[#e3e2e7]">Stablecoin</span>
    </h1>
    <p class="welcome-content mx-5 my-2 text-[#e3e8e4] text-lg leading-relaxed mt-3">
        Access Celo Dollars directly, protecting you from inflation while keeping full control of your money.
    </p>
    <div class="flex items- center justify-center mt-3">
        <span class="welcome-content-sm flex items-center justify-center text-white gap-1">Built on <img class="w-[55px] h-[15px]" src="/assets/images/celologo-dark.png" alt="" sizes="" srcset=""></span>
    </div>
    <div class="flex items-center justify-center mt-5">
        <button class="auth-btn flex items-center justify-center gap-2 bg-[#ea3b58] text-white px-4 py-2 rounded-xl w-[90%] shadow-md hover:bg-gray-100">
            <span class="NextBtn__text">Next</span>
        </button>
    </div>
</div>
