<div class="">
    <div class="flex items-center justify-center mt-20">
        <img src="/assets/images/onboard4.png" class="image-snapshot  w-[450px] h-[460px]" alt="onboard4.png">
    </div>
    <h1 class="welcome-text text-[#e3e2e7] text-4xl mx-5 block  font-extrabold mt-5">
        Secure your wallet<br>
    </h1>
    <p class="welcome-content mb-5 mx-5 my-2 text-[#e3e8e4] text-lg leading-relaxed mt-3">
        Your wallet will be locked & secured just like your phone. Just unlock to send money.
    </p>
    <p class="welcome-content  mx-5 my-2 text-[#e3e8e4] text-lg leading-relaxed mt-3">
        Your wallet keys will be backed up to your Google account.
    </p>
    <div class="flex items-center justify-center mt-5">
        <button (click)="navigateNext()" class="auth-btn flex items-center justify-center gap-2 bg-[#ea3b58] text-white px-4 py-2 rounded-xl w-[90%] shadow-md">
            <span class="NextBtn__text">Next</span>
        </button>
    </div>
</div>
