/* You can add global styles to this file, and also import other style files */
/* Tailwind css configuration */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #0e100f;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;    
    overflow: hidden;
}

.NextBtn__text {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: left;
    white-space: nowrap;
}