<div
    class="container bg-gradient-to-b from-[#2b2d35] to-[#404252] bg-[#3b3d4a] h-10 min-h-screen flex flex-col relative overflow-hidden">
    <header class="p-0 relative mt-10">
        <div class="flex justify-between items-center">
            <div class="ml-4 flex items-center">
                <img src="https://finapp.bragherstudio.com/view22/assets/img/sample/avatar/avatar1.jpg"
                    class="rounded-full border-2 border-[#15a870]" alt="" width="48">
                <span class="text-white font-semibold font-sans ml-4">Welcome to MiniPay! 👋</span>
            </div>

            <div class="flex items-center mr-4">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="24" height="24" viewBox="0 0 24 24">
                    <g>
                      <clipPath d="M0,0h24v24h-24z" />
                      <path fill="none" stroke="rgb(255,255,255)" stroke-opacity="1.0" d="M5,5h4v4h-4z" stroke-width="2" />
                      <path fill="none" stroke="rgb(255,255,255)" stroke-opacity="1.0" d="M5,15h4v4h-4z" stroke-width="2" />
                      <path fill="none" stroke="rgb(255,255,255)" stroke-opacity="1.0" d="M15,5h4v4h-4z" stroke-width="2" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M11,14h2v2h-2z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M11,18h2v2h-2z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M15,11h2v5h-2z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M17,14h3v2h-3z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M17,18h3v2h-3z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M13,16h4v2h-4z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M6,0V2H2V6H0V0L6,0Z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M24,0H18V2H22V6H24V0Z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M6,24V22H2V18H0V24L6,24Z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M24,24H18V22H22V18H24V24Z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M4,11h7v2h-7z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M11,8h2v3h-2z" />
                      <path fill="rgb(255,255,255)" fill-opacity="1.0" d="M11,4h2v2h-2z" />
                    </g>
                  </svg>
            </div>
        </div>
    </header>

    <div class="flex justify-center">
        <div
            class="bg-[#15a870] justify-center mt-3 mb-2 pt-2 p-4 rounded-tr-3xl rounded-tl-3xl rounded-br-3xl rounded-bl-3xl border border-gray-500 shadow-md w-[95%] max-w-[400px] h-[195px] relative">
            <!-- Content goes here -->
            <ng-lottie [options]="web3CircleTop" (animationCreated)="onAnimate($event)"
                class="absolute top-0 right-1 mt-2 w-[60px] h-[60px]"></ng-lottie>

            <div class="ml-4 mt-4">
                <span class="ml-3 text-white text-3x1 font-bold">Total</span>
                <h1 class="font-bold text-6xl text-white">$0</h1>
            </div>
            <!-- Buttons -->
            <div class="flex justify-center mt-3 space-x-4">
                <button type="button"
                    class="py-2.5 px-6 text-sm border border-[#73cba9] w-[160px] h-[55px] rounded-full shadow-xs bg-transparent font-extrabold text-white transition-all flex items-center text-nowrap justify-center space-x-2">
                    <img src="/assets/images/icons/arrow-down.png" alt="Arrow" class="w-9 h-9">
                    <span>Add cash</span>
                </button>
                <button type="button"
                    class="py-2.5 px-6 text-sm border border-[#73cba9] w-[160px] h-[55px] rounded-full shadow-xs bg-transparent font-extrabold text-white transition-all flex items-center text-nowrap justify-center space-x-2">
                    <img src="/assets/images/icons/arrow-up.png" alt="Arrow" class="w-9 h-9">
                    <span>Withdraw</span>
                </button>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="fixed z-50 w-full h-20 max-w-lg -translate-x-1/2 bg-white border border-gray-200 rounded-tr-3xl rounded-tl-3xl bottom-0 left-1/2 dark:bg-[#333542] dark:border-gray-600">
        <div class="grid h-full max-w-lg grid-cols-3 mx-auto place-items-center">
            <!-- Home Button -->
            <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center w-15 ml-10 px-3 rounded-s-full group">
                <img [src]="'/assets/svg/ic_wallet.svg'" alt="" srcset="" [width]="35">
                <span class="sr-only">Home</span>
            </button>
    
            <!-- Send Button -->
            <button data-tooltip-target="tooltip-center" type="button" class="inline-flex items-center justify-center w-[80px] h-[80px] rounded-full bg-[#15a870] group transform -translate-y-2"
                style="border: 8px solid #333542;">
                <img [src]="'/assets/svg/ic_fab_plane.svg'" alt="" [srcset]="''" width="38">
                <span class="sr-only">Send</span>
            </button>
    
            <!-- Mini Apps Button -->
            <button data-tooltip-target="tooltip-home" type="button" class="inline-flex flex-col items-center justify-center mr-10 w-12 px-3 rounded-s-full group">
                <svg class="w-5 h-5 mb-1 text-gray-500 dark:text-gray-400 group-hover:text-blue-600 dark:group-hover:text-blue-500"
                    aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path
                        d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z" />
                </svg>
                <span class="sr-only">Mini Apps</span>
            </button>
        </div>
    </div>
    
    
    
    

</div>