<div class="bg-[#2a2c34]" style="min-height: 100vh;">
    <div class="min-h-[480px]">
        <ng-lottie [options]="signInOption" (animationCreated)="onAnimate($event)">
        </ng-lottie>
    </div>
    <div class="mt-15">
        <ng-lottie [options]="signInOption2" (animationCreated)="onAnimate($event)">
        </ng-lottie>
    </div>
    <div class="flex items-center justify-center mt-[90px]">
        <button (click)="navigateNext()" [disabled]="isLoading" [ngClass]="{ 'bg-gray-300': isLoading, 'bg-white': !isLoading }" class="auth-btn flex items-center justify-center gap-2 text-black px-4 py-2 rounded-xl w-[90%] shadow-md hover:bg-gray-100">
          <img src="/assets/svg/G-on-clear.svg" alt="Google logo" *ngIf="!isLoading">
          <span *ngIf="!isLoading" class="googleSignIn__text">Sign in with Google</span>
          <span *ngIf="isLoading" class="spinner-container">
            <span class="loading-spinner"></span>
          </span>
        </button>
      </div>        
    <div class="flex items-center justify-center mt-5">
      <small class="ml-1 text-white text-sm text-center">By proceeding, you accept our <b>Terms of Service</b> and <b>Privacy Statement.Built on Celo</b></small>
    </div>
</div>