.googleSignIn__text {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    text-align: left;
    white-space: nowrap;
}

.small-text {
    font-size: 10px;
}

.loading-spinner {
    border: 3px solid #f3f3f3;
    border-top: 3px solid #888b8c;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1s linear infinite;
}

.spinner-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
